version: '3.9'

services:
  postgres:
    image: postgres
    container_name: health_service_db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: health
      POSTGRES_PASSWORD: health
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mynetwork



volumes:
  postgres_data:

networks:
  mynetwork:
